[tool.poetry]
name = "momento"
version = "0.0.0"

authors = ["Momento <hello@momentohq.com>"]
description = "SDK for Momento"

license = "Apache-2.0"

documentation = "https://docs.momentohq.com/"
homepage = "https://gomomento.com"
readme = "README.md"
repository = "https://github.com/momentohq/client-sdk-python"

keywords = ["Momento", "caching", "key-value store", "serverless"]

classifiers = [
  "Development Status :: 3 - Alpha",
  "Operating System :: OS Independent",
  "Framework :: AsyncIO",
  "Environment :: Console",
  "Intended Audience :: Developers",
  "Topic :: Internet",
  "Natural Language :: English",
  "Typing :: Typed",
]

[tool.poetry.dependencies]
python = ">=3.7,<3.12"

momento-wire-types = "0.31.1"
grpcio = "1.50.0"
# note if you bump this presigned url test need be updated
pyjwt = "2.4.0"
# We need this for pyjwt, but the pyjwt crypto extra uses version >=3.4
# Since this depends on glibc, which is external to python,
# the crytography version introduces incompatibilities in specific
# environments (eg Lambda). We pin to 3.4.8 to prevent a moving target.
# see: https://github.com/jpadilla/pyjwt/issues/800
cryptography = "3.4.8"

[tool.poetry.group.test.dependencies]
pytest = "^7.1.3"
pytest-asyncio = "^0.19.0"
pytest-sugar = "^0.9.5"

[tool.poetry.group.lint.dependencies]
flake8 = "^5.0.4"
mypy = "^0.971"
types-setuptools = "^65.3.0"

[tool.poetry.group.format.dependencies]
black = "^22.8.0"
isort = "^5.10.1"

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.black]
line-length = 120
target-version = ["py37"]
include = "\\.pyi?$"
exclude = """
/(
  \\.git
  | \\.mypy_cache
  | \\.pytest_cache
  | \\.venv
  | dist
)
"""

[tool.isort]
profile = "black"
src_paths = ["src", "tests"]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
