name: On Pull Request

on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: macos-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        new-python-protobuf: ["true"]
        include:
          - python-version: "3.7"
            new-python-protobuf: "false"

    env:
      TEST_API_KEY: ${{ secrets.ALPHA_TEST_AUTH_TOKEN }}
      TEST_CACHE_NAME: python-integration-test-${{ matrix.python-version }}-${{ matrix.new-python-protobuf }}-${{ github.sha }}
      TEST_VECTOR_INDEX_NAME: python-integration-test-vector-${{ matrix.python-version }}-${{ matrix.new-python-protobuf }}-${{ github.sha }}

    steps:
      - uses: actions/checkout@v3

      - name: Commitlint and Other Shared Build Steps
        uses: momentohq/standards-and-practices/github-actions/shared-build@gh-actions-v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Bootstrap poetry
        run: |
          curl -sL https://install.python-poetry.org | python - -y --version 1.3.1

      - name: Configure poetry
        run: poetry config virtualenvs.in-project true

      - name: Install dependencies
        run: poetry install

      - name: Install Old Protobuf
        # Exercises the wire types generated against the old protobuf library
        if: matrix.new-python-protobuf == 'false'
        run: poetry add "protobuf<3.20"

      - name: Run mypy
        # mypy has inconsistencies between 3.7 and the rest; default to lowest common denominator
        if: matrix.python-version == '3.7'
        run: poetry run mypy src tests

      - name: Run flake8
        run: poetry run flake8 src tests

      - name: Run black
        run: poetry run black src tests --check --diff

      - name: Run isort
        run: poetry run isort src tests --check --diff

      - name: Run tests
        run: poetry run pytest tests/momento/vector_index_client -p no:sugar -q
