name: On pull request

on:
  pull_request:
    branches: [ main ]

jobs:
  build_python:
  runs-on: ubuntu-latest

  steps:
    - name: Get current time
      uses: gerred/actions/current-time@master
      id: current-time

    - uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel build

    - name: Build package
      run: |
        set -e
        set -x
        export PYPI_MOMENTO_WIRE_TYPE_VERSION=0.0.devBuild
        pushd python
          python -m build
        popd
      shell: bash
